body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 50px 0 120px 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 48px;
    height: 48px;
    padding: 0 10px;
    background: #fff;
    border-bottom: 2px solid #eee;
}

h2 {
    margin: 0;
    font-weight: normal
}

.logo i {
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.logo b {
    font-style: bold
}

#repl {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

#repl td {
    padding: 7px 10px;
    line-height: 24px;
}

#repl td.history {
    text-align: right;
    width: 2em;
    color: #999;
}

#repl .source {
    background-color: #eee
}

#repl .permalink {
    margin-left: 10px;
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    float: right;
}

#repl .permalink:hover {
    text-decoration: underline;
}

#repl tr:hover .permalink {
    color: #333;
}

#repl .result {
    font-family: Consolas, "Lucida Console", Monaco, Courier, monospace;
}

.result.error {
    background-color: #fc2
}

.result.coffee.error {
    background-color: #c82
}

footer {
    position: fixed;
    bottom: 0;
    background: rgb(238, 238, 238);
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 2px solid #ccc;
}

footer textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
    background-color: #f9f9f9;
}

#studio {
    display: none;
    position: fixed;
    width: 400px;
    height: 400px;
    top: 10px;
    right: 60px;
    background: rgba(220,220,220,0.8);
    margin: 0;
}
